*{
	margin:0;
	padding:0;
}

header {
	height:12em;
	background-size:cover;
	background-repeat:no-repeat;
	background-image:url("headerImage.jpg");
	background-size:100%;
	color:white;
	text-align:center;
	font-size:1.2em;
	font-style:italic;
}

header img {
	float:left;
}

header h2{
	padding:.3em;
}

.homeImage{
	float:left;
	height:45%;
	width:45%;
}

body{
	background-color:#b5c9c8;
	margin-bottom:1em;
}

.homeBody{
	width:99%;
	height:100%;
}

nav ul{
	list-style-type:none;
	height:4em;
	background-color:#242742;
	width:100%;

}
nav li {
	display:inline;
	float:left;
	width:9em;
	margin-right:.75em;
	margin-left:.75em;
}
nav li a{
	display:block;
	color:#000;
	padding:24px 30px;
	text-decoration:none;
	text-align:center;
	color:white;
	font-size:1.1em;
}

nav li a:hover{

	background-color:#b5c9c8;
	color:white;

}
.active{
	background-color:#b5c9c8;
}



ul.img-list{

	list-style-type:none;
	margin-top:3em;
	padding:.2em;
	text-align:center;
	background-color:#b5c9c8;
	margin-right:1em;
}

ul.img-list li {
	display:inline-block;
	height:12em;
	width:12em;
	margin:1em 1em 1em 1em;
	position:relative;


}

span.text-members {
	background: rgba(0,0,0,0.5);
	color:white;
	font-size:1.2em;
	cursor:pointer;
	display:table;
	height:10em;
	width:10em;
	left:0;
	position:absolute;
	top:0;
	right:0;
	opacity:0;

}

aside {
	color:#666666;
	margin-left:3.5em;
	margin-top:.6em;
	font-size:.9em;
}

span.text-members span {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

ul.img-list li:hover span.text-members{
	opacity:1;
}
